body {
  background-color: orange;
}

.link-button {
  background-color: lightblue;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 24px;
  font-size: 24px;
}

.content-container {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 24px;
}

.solution-container {
  width: 284px;
  height: 2200px;
}

.solution-input {
  font-size: 24px;
}

.play-container {
  /* 768px is the medium size for a screen */
  /* 768 - 32 = 736 */
  /* 32 because (16) a standard of font-size */
  width: 736px;
}

.not-found {
  width: 310px;
}

.rules-standards {
  width: 400px;
}

.navbar-inline {
  display: inline;
}

.navbar-dropdown {
  display: none;
}

.text-container {
  display: inline;
}

.photo-container {
  display: block;
}

/*** Mobile Layout ***/

@media only screen and (max-width: 767px) {
  .navbar-inline {
    display: none;
  }

  .navbar-dropdown {
    display: inline;
  }

  .navbar-dropdown-menu {
    background-color: wheat;
    border-style: solid;
    border-width: medium;
    border-color: black;
    border-radius: 24px;
  }

  .play-container {
    width: 100%;
  }

  .not-found {
    width: 90%;
  }

  .history-container {
    margin: 0px 16px 16px 16px;
  }

  .rules-standards {
    width: 90%;
  }
}
